@import "tailwindcss";

@theme {
  --color-primary: #D85A30;
  --color-primary-hover: #c24f28;
  --color-secondary: #ffffff;
  --color-bg: #031a50 ;
  --color-border: #0d2d7a;
  --color-label: #7a93c8;
  --color-label2: #2e4a80;
  --color-card: #082363;
}

@utility hide-scrollbar {
  &::-webkit-scrollbar {
    display: none;
  }

  scrollbar-width: none;
  -ms-overflow-style: none;
}

@theme {
  --breakpoint-mob: 500px;
}

@layer base {
  ::-webkit-scrollbar {
    width: 5px;
    height: 2px;
  }

  ::-webkit-scrollbar-track {
    background: #031a50;
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb {
    background: #7a93c8;
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #D85A30;
  }

  /* For Firefox (Firefox uses different properties) */
  /* * {
    scrollbar-width: thin;
    scrollbar-color: #cbd5e1 #0469f7;
  } */
}
